
<!-- <h4>{{ site.owner.name }}</h4> -->
<!-- 个人图片 -->
<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="150" height="180"></a>

<!-- 照片以下部分 -->
<p style="font-size: 20px;">
    {{ site.owner.name }}
</p>
{% if site.owner.email %}
<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i> Email</a></p>
<p style="height: 15px;">{{site.owner.email}}</p>
{% endif %}

{% if site.owner.github %}
<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i> Github</a></p>
<p style="height:15px">{{site.owner.github}}</p>
{% endif %}
